body {
    background-image: url("img/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.uno{
    height: 300px;
    background-color: black;
    z-index: 9;
}

.dos{
    height: 300px;
    background-color: blue;
    z-index: 2;
}