*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif
}

h1{
    font-weight: normal;
 }

.border{
    border:2px solid red;
}

.centrado{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon{
    width: 50px;
    height: auto;
}

.margin {
    margin:     50px 50px 50px 50px;
}

/* MENU */

.menu{
    color: white;
    background-color: black;
}

/* BANDA 1 */

.banda-1 {

    padding-top: 100px;
    background-image: url(../img/confeti.svg), radial-gradient( 80vw circle at 50% 10%, #3a2099 17%, #480c59 100% ) ;
    background-repeat: no-repeat;
    color: white;
    padding-bottom: ;
}

.banda-1 h1{

    font-size: 50px;
    padding: 40px;
}

.banda-1 p:first-child {
    
    max-width: 800px;
    flex-wrap: wrap;
    padding: 30px;
    line-height : 25px;
    font-size: 25px;
}

.recuadro {
    padding: 60px;
    border-radius: 10px;
}

#naranja{
    width: 200px;
}

.recuadro h2 {
    display: flex;
    align-items: left;
    justify-content: left;
}

.recuadro img {
    float: left;
}

.recuadro-1 { 
    background-image: linear-gradient( 153deg, #e64c4c 0%, #fb8332 95%);
}

.recuadro-2 {
    background-image: linear-gradient(153deg, #da6bf8 0%, #815eff 95%);
    border-radius: 10px;
}

/** BANDA 2 */

.banda-2{
    margin-top: 150px;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-bottom: 150px;

    line-height: 30px;
}

.banda-2 h1{
    font-size: 50px;
}

.banda-2 h2 {
    font-size: 30px;
    font-weight: normal;
}

.banda-2 p {
    max-width: 800px;
}

.banda-2 section {
    padding: 15px;
    background-color: rgba(155, 155, 155, 0.2);
    padding-bottom: 1px;
    border: 1px solid rgba(155, 155, 155, 0.2);
}

.banda-2 .ayuda {

    margin-top: 30px;
    padding: 10px;
    border: 1px solid rgba(155, 155, 155, 0.2);
}

/** BANDA 3 */

.banda-3{
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
    padding: 50px;
}

.banda-3 h1{
    font-size: 40px;
}

.banda-3 p {

    margin: 25px;
    font-size: 25px;
    color: rgba(155, 155, 155);
}

/** BANDA 4 */

.banda-4{
    padding: 50px;
}